<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<style type="text/css">-->
        <!--.pagination li{-->
            <!--display: inline;-->
            <!--padding-right: 20px;-->
            <!--list-style: none;-->
        <!--}-->
        <!--ul li{list-style: none;}-->
    <!--</style>-->
    <title>TP5简易留言板</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <h1>留言板展示 - Tp5简易留言板</h1>
    <p>留言如下：</p>
</div>
    <table class="table  table-bordered table-hover">
        <thead><th>ID</th><th>标题</th><th>内容</th><th>留言时间</th></thead>
        <!--<th>姓名</th>-->
        <tbody>
        {volist name='show' id='user'}
        <tr><th>{$user.id}</th><td>{$user.title}</td><td>{$user.content|mb_substr=0,20,'utf-8'}</td><td>{$user.create_time|date='Y-m-d H:i:s',###}</td></tr>
        <!--<td>{$user.name}</td>-->
        {/volist}
        </tbody>
    </table>
</div>

{$show->render()}

<a href="http://lmc.tp5/index/bbs/add">发步留言</a>




        <!--<br/>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;<br/>-->
    <!-- volist 标签输出-->
    <!--{volist name="show" id="data"}-->
    <!--{$i}:{$data.id}:{$data.name}<br/>-->

    <!--{/volist}-->
    <!--{$show->render()}-->
    <!--<br/>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;<br/>-->
    <!--<div>-->
        <!--<ul>-->
            <!--{volist name='show' id='data'}-->
            <!--<li>-->
                <!--{$data.id} : {$data.name}-->
            <!--</li>-->
            <!--{/volist}-->
        <!--</ul>-->
    <!--</div>-->
<!--{$show->render()}-->

</body>
</html>
